<!DOCTYPE html>
<html>
<head>
    <title>Data</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/show_data.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/arrow.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/hover_text.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/specs.css') }}">
</head>
<body>

    {% if specs %}
    {% include "specs.html" %}
    {% endif %}


    {% include "show_prices.html" %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>