<div class="specs">
    <div class="container">
        <div class="title-section">
            <h2 class="title">{{ specs.name }}</h2>
        </div>
        <div class="content-section">
            <div class="image-section">
                <img src="{{ specs.image }}" alt="Description of Image">
            </div>
            <div class="text-section">
                <p class="description">Selfie score: {{ specs.selfie }}</p>
                <p class="description">Audio score: {{ specs.audio }}</p>
                <p class="description">Display score: {{ specs.display }}</p>
                <p class="description">Battery score: {{ specs.battery }}</p>
                <p class="description">Phone score: {{ specs.mobile }}</p>
            </div>
        </div>
    </div>
</div>